<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/base::meta"></head>
<body>

<div class="wrapper-page">
    <div class="ex-page-content text-center">
        <h1>500!</h1>
        <h2 class="font-light">服务器出了点差错.</h2><br></br>
        <p>可以尝试向社区发出求助 <a th:href="@{https://github.com/zhisheng17/blog/issues/new}" target="_blank">New Issues</a></p>
        <a class="btn btn-purple waves-effect waves-light" th:href="@{/}"><i class="fa fa-angle-left"></i> 返回首页</a>
    </div>
</div>

</body>
</html>